.movie__list {
        padding: 0 2rem 0rem 0rem;
}

.list__title {
font-size: 1.75rem;
margin:  1.5rem;
}

.list__cards {
    display: flex;
    overflow-x: scroll;
    padding: 30px;
}
.list__cards::-webkit-scrollbar{
  display: none;

}